<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "ludo/main.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{%static '/index.css'%}">
</head>
<body>

{% block content %}

<h2 > Liste des auteurs crée :</h2>

<ol>
    {% for a in liste %}
        <li> {{a}} <a href="/ludo/afficheauteurs/{{a.id}}/">détails</a> <a class="updateauteurs" href="/ludo/updateauteurs/{{a.id}}/">Modifier</a> <a class="del" href="/ludo/deleteauteurs/{{a.id}}/">Supprimer</a> </li>
    {% endfor %}
</ol>

{% endblock %}

</body>
</html>