<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "ludo/main.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{%static '/index.css'%}">
</head>
<body>

{% block content %}

<h2 > Liste des commentaires crée :</h2>

<ol>
    {% for c in liste %}
        <li> {{c}} <a href="/ludo/affichecommentaires/{{c.id}}/">détails</a> <a class="updatecommentaires" href="/ludo/updatecommentaires/{{c.id}}/">Modifier</a> <a class="del" href="/ludo/deletecommentaires/{{c.id}}/">Supprimer</a> </li>
    {% endfor %}
</ol>

{% endblock %}

</body>
</html>