<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "ludo/main.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{%static '/index.css'%}">
</head>
<body>

{% block content %}

<h1>Informations sur l'Auteurs :</h1>

<h2>Nom de l'Auteur :</h2>
<p>
    {{auteurs.nom_aut}}
</p>

<h2>Prénom de l'Auteur :</h2>
<p>
    {{auteurs.prenom_aut}}
</p>

<h2>Age de l'Auteur :</h2>
<p>
    {{auteurs.age_aut}}
</p>

{% endblock %}

</body>
</html>