<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "ludo/main.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{%static '/index.css'%}">
</head>
<body>

{% block content %}

<h1>Commentaire :</h1>
<p>
    {{commentaires.jeux_commentaire}}
</p>

<h2>Joueur commenté :</h2>
<p>
    {{commentaires.joueurs_commentaire}}
</p>

<h2>Note :</h2>
<p>
    {{commentaires.note_commentaire}}
</p>

<h2>Commentaire du jeu :</h2>
<p>
    {{commentaires.commentaire_jeu}}
</p>

<h2>Date du commentaire :</h2>
<p>
    {{commentaires.date_commentaire}}
</p>

{% endblock %}

</body>
</html>