<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "ludo/main.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{%static '/index.css'%}">
</head>
<body>

{% block content %}

<h1>Saisir les informations suivantes afin de créer un auteur :</h1>
  {% if id != '' %}
    <form method="post" action="/ludo/traitementauteurs/">
   {% else %}

   {% endif %}
  {% csrf_token %}
  {{form.as_ul}}
  <input type="submit" value="Ajouter"/>
    </form>

{% endblock %}

</body>
</html>