{% extends "ludo/main.html" %}
{% block title %}
Bienvenue
{% endblock %}

{% block content %}
<br>
<h1>Présentation du projet</h1>
<br>
<p>
    Ce projet est un projet de développement d'un site web.
    Il est développé en utilisant le framework django.
    Nous l'avons réalisé en groupe pour la SAE23.
</p>
<br>
<p>
    Tâches que nous avons réaliser:
    <ul>
        <li>Django (models, views, template et static</li>
        <li>Migration de la base de données sqlite3 sur une base de donnée externe en sql</li>
    </ul>
</p>
<br>
<p>
    Tâches que nous n'avons pas réaliser :
    <ul>
        <li>Mise en ligne des images</li>
        <li>Liste des jeux</li>
        <li>Mise en place du wsgi et du serveur apache</li>
    </ul>
</p>    

{% endblock %}