<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Ludotheque - SAE23</title>
    <link rel="stylesheet" type="text/css" href="{%static '/index.css'%}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&display=swap" rel="stylesheet"> 
</head>
<body>

<br>
<h1>Wikigames : le meilleur du jeu vidéo</h1>
<br>

 <article>
		<nav>
            <ul>
                <li class="menu-deroulant"> <a href="/ludo/"><strong>Accueil</strong></a>

                </li>
                <li class="menu-deroulant"> <a href="#">Catégories</a>
                    <ul class="sous-menu">
                        <li><a href="/ludo/ajoutcategorie"><strong> Ajouter une categorie</strong></a></li>
                        <li><a href="/ludo/affichagecategorie"><strong>Liste des catégories</strong></a></li>
                    </ul>
                </li>
                <li class="menu-deroulant"> <a href="#">Jeux</a>
                    <ul class="sous-menu">
                        <li><a href="/ludo/ajoutjeux"><strong> Ajouter un Jeux</strong></a></li>
                        <li><a href="/ludo/affichagejeux"><strong> Jeux crée</strong></a></li>
                    </ul>
                </li>
                <li class="menu-deroulant"> <a href="#"> Auteurs</a>
                    <ul class="sous-menu">
                        <li><a href="/ludo/ajoutauteurs"><strong> Ajouter un Auteur</strong></a></li>
                        <li><a href="/ludo/affichageauteurs"><strong> Auteur crée</strong></a></li>
                    </ul>
                </li>
                <li class="menu-deroulant"> <a href="#"> Joueurs</a>
                    <ul class="sous-menu">
                        <li><a href="/ludo/ajoutjoueurs"><strong> Ajouter un Joueur</strong></a></li>
                        <li><a href="/ludo/affichagejoueurs"><strong>Joueurs crée</strong></a></li>
                    </ul>
                </li>
                <li class="menu-deroulant"> <a href="#"> Commentaires</a>
                    <ul class="sous-menu">
                        <li><a href="/ludo/ajoutcommentaires"><strong> Ajouter un commentaire</strong></a></li>
                        <li><a href="/ludo/affichagecommentaires"><strong>Commentaire crée</strong></a></li>
                    </ul>
                </li>
            </ul>
		</nav>
    </article>

{% block content %}

{% endblock %}

</body>
</html>