<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "ludo/main.html" %}
    {% load static %}
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{%static '/index.css'%}">
</head>
<body>

{% block content %}

<h1>Saisir les informations suivantes afin de créer une categorie :</h1>
  {% if id is not None %}
    <form method="post" action="/ludo/updatetraitementcategorie/{{id}}/">
   {% else %}
    <form method="post" action="/ludo/traitementcategorie/{{id}}/">
   {% endif %}
  {% csrf_token %}
  {{form.as_ul}}
  <input type="submit" value="save"/>
  </form>

{% endblock %}

</body>
</html>